#home {
  max-width: 100%;
  position: fixed;
  z-index: 99;
  background: map-get($map: $colors, $key: bg-white-100);
  width: 100%;
  box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -2px rgba(0, 0, 0, 0.06);

  #header-content {
    @include flex-container($justify: space-between);
    align-items: center;
    padding: 1.6rem 0;
    position: relative;

    #header-logo {
      max-width: 25rem;
      position: relative;
      z-index: 1001;
    }

    #nav-bar {
      position: fixed;
      width: 100%;
      max-width: 100%;
      display: flex;
      top: 0;
      left: 0;
      height: 100vh;
      background: map-get($map: $colors, $key: bg-white-100);
      z-index: 1000;

      opacity: 0;
      visibility: hidden;
      pointer-events: none;

      transition: opacity 0.3s ease, visibility 0.3s ease;

      ul {
        @include flex-container($justify: center);
        flex-direction: column;
        flex-direction: row;
        flex-grow: 1;
        max-width: 70rem;
        display: none;

        li {
          a {
            font-size: map-get($map: $fontSize, $key: fontSize-14);
            color: map-get($map: $colors, $key: primary-color);
            text-decoration: $underline-defaut;
            text-underline-offset: $underline-offset;
            transition: all 0.3s ease-in-out;
            &:hover {
              color: map-get($map: $colors, $key: light-orange);
              text-decoration: underline
                map-get($map: $colors, $key: light-orange);
            }
          }
        }
      }

      &.active {
        opacity: 1;
        visibility: visible;
        pointer-events: auto;

        flex-direction: column;
        justify-content: center;
        align-items: center;

        ul {
          display: flex;
          flex-direction: column;
          // gap: 3rem;

          li a {
            font-size: 2.4rem;
          }
        }
      }
    }

    .hamburger-menu {
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      width: 2.8rem;
      height: 2.8rem;
      background: transparent;
      border: none;
      cursor: pointer;
      padding: 0;
      z-index: 1001;

      span {
        display: block;
        width: 100%;
        height: 0.3rem;
        background: map-get($map: $colors, $key: secondary-color);
        border-radius: 3px;
        transition: all 0.3s ease-in-out;
        transform-origin: center;
      }

      &.active {
        span:nth-child(1) {
          transform: translateY(10.5px) rotate(45deg);
        }
        span:nth-child(2) {
          opacity: 0;
        }
        span:nth-child(3) {
          transform: translateY(-10.5px) rotate(-45deg);
        }
      }
    }
  }

  @include responsive(tablet) {
    #header-content {
      padding: 0 1.6rem;
      max-width: 128rem;
      margin: 0 auto;

      height: 10vh;
      justify-content: space-between;
      gap: 2.6rem;

      #nav-bar {
        display: block;
        position: static;
        height: auto;
        background: transparent;
        z-index: auto;

        opacity: 1;
        visibility: visible;
        pointer-events: auto;
        transition: none;

        ul {
          @include flex-container($justify: space-between);

          li a {
            font-size: map-get($map: $fontSize, $key: fontSize-14);
          }
          margin: 0 auto;
          margin-right: 0;
          max-width: 75rem;
        }
      }

      .hamburger-menu {
        display: none;
      }
    }
  }

  @include responsive(tabletXL) {
    #header-content {
      #nav-bar {
        ul {
          li {
            a {
              font-size: map-get($map: $fontSize, $key: fontSize-16);
            }
          }
        }
      }
    }
  }
  @include responsive(desktopSmall) {
    #header-content {
      #nav-bar {
        ul {
          li {
            a {
              font-size: 1.8rem;
            }
          }
        }
      }
    }
  }
}
