#s-hero {
  padding-top: 10rem;
  #s-hero-content {
    position: relative;
    #s-hero_info-container {
      text-align: center;
      max-width: 32.8rem;
      margin: $magin-defaut;
      padding-top: 1.6rem;

      & > span:first-child {
        font-size: 3.5rem;
        font-weight: 700;
        line-height: 24px;
        letter-spacing: 9.5%;
        color: map-get($map: $colors, $key: light-orange);
        margin-bottom: 2.6rem;
        display: none;
      }
      h1 {
        font-size: 5.2rem;
        line-height: 56px;

        span {
          font-family: inherit;
          display: inline-block;
          font-size: 3.2rem;
          line-height: 31px;
        }
        margin-bottom: 3.8rem;
      }
      .btn {
        margin-bottom: 1.8rem;
      }
    }
    #s-hero_bg-container {
      position: relative;
      #bg-book {
        width: 65rem;
        position: relative;
        left: 50%;
        transform: translateX(-50%);
      }
    }

    #shape-01 {
      position: absolute;
      max-width: 15rem;
      top: 20rem;
      left: -10rem;
      z-index: -1;
    }
    #img-right {
      position: absolute;
      top: -2rem;
      right: -11rem;
      z-index: -1;
      #shape-02 {
        max-width: 15rem;
        rotate: 156deg;
      }
    }

    @include responsive(phoneXL) {
      #s-hero_info-container {
        max-width: 33.8rem;
      }
      #s-hero_bg-container {
        #bg-book {
          width: 75rem;
        }
      }
      #shape-01 {
        max-width: 25rem;
        top: 20rem;
        left: -15rem;
      }
      #img-right {
        top: -2rem;
        right: -17rem;
        #shape-02 {
          max-width: 25rem;
        }
      }
    }
    @include responsive(tablet) {
      #shape-01 {
        top: 2rem;
        left: -17rem;
      }
      #img-right {
        top: 16rem;
        right: -15rem;
        img {
          rotate: 148deg;
        }
      }
      #s-hero_info-container {
        max-width: 65rem;
        & > span:first-child {
          display: block;
        }
        h1 {
          line-height: 4.3rem;
          br {
            display: none;
          }
        }
      }
    }
    @include responsive(desktopSmall) {
      #s-hero_info-container {
        max-width: 92.5rem;

        h1 {
          font-size: 7.2rem;
          line-height: 65px;
          span {
            font-size: 5.2rem;
          }
          margin-bottom: 3.8rem;
        }
      }
      #s-hero_bg-container {
        #bg-book {
          width: 90rem;
        }
      }
    }
  }
}
