#colecao {
  margin-top: 2.6rem;
  padding-top: 7.4rem;
  margin-top: -7.4rem;
  #catalogo-container {
    position: relative;
    #header-catalogo {
      padding: 2.6rem 1.6rem;
      h3 {
        max-width: 32rem;
        margin: 0 auto;
        position: relative;
        text-align: center;
        font-size: 1.6rem;
        margin-bottom: 0.6rem;

        &::after {
          background-color: map-get($map: $colors, $key: light-orange);
          position: absolute;
          content: "";
          display: block;
          width: 3rem;
          height: 0.3rem;
          top: 50%;
          transform: translateY(-50%);
          left: 1.5rem;
          border-radius: 0.75rem;
        }
        &::before {
          background-color: map-get($map: $colors, $key: light-orange);
          position: absolute;
          content: "";
          display: block;
          width: 3rem;
          height: 0.3rem;
          top: 50%;
          transform: translateY(-50%);
          right: 1.5rem;
          border-radius: 0.75rem;
        }
      }
      h2 {
        max-width: fit-content;
        margin: 0 auto;
        text-align: center;
        font-size: 3.2rem;
        line-height: 36px;
        padding-top: 0.8rem;
        padding-bottom: 0.8rem;
        border: 2px double map-get($map: $colors, $key: light-orange);
        border-radius: 1rem;
        position: relative;
        &::after {
          position: absolute;
          content: "";
          display: block;
          width: 25rem;
          height: 0.3rem;
          background-color: map-get($map: $colors, $key: light-orange);
          left: 50%;
          transform: translateX(-50%);
          bottom: -2rem;
        }
        max-width: 29.4rem;
      }
      margin-bottom: 3.6rem;
    }

    .books-card {
      .small-circle {
        position: absolute;
        max-width: 5rem;
        left: 50%;
        transform: translateX(-50%);
        z-index: -1;
        bottom: -5.9rem;
        opacity: 0.5;
      }
    }

    #circle-container {
      .ilustra-circle {
        position: absolute;
        max-width: 24rem;
        z-index: -2;
      }
      #circle-01 {
        top: 24rem;
        left: -13rem;
      }
      #circle-02 {
        right: -13rem;
        top: 66rem;
        rotate: 180deg;
      }
      #circle-03 {
        top: 50%;
        transform: translateY(-50%);
        left: -13rem;
      }
      #circle-04 {
        right: -12rem;
        bottom: 39rem;
        rotate: 180deg;
      }
      #circle-05 {
        bottom: -30rem;
        left: 0;
      }
    }
  }

  @include responsive(custom-412) {
    #catalogo-container {
      #header-catalogo {
        h2 {
          font-size: 3.6rem;
          line-height: 48px;
          padding-top: 0.4rem;
        }
      }
    }
  }
  @include responsive(phoneXL) {
    #catalogo-container {
      #header-catalogo {
        h2 {
          font-size: 5.6rem;
          width: 100%;
          max-width: 100%;
          border: none;
          padding: 0;
          line-height: 82px;
        }
      }
    }
  }
  @include responsive(tablet) {
    #catalogo-container {
      #header-catalogo {
        h2 {
          margin-bottom: 1.6rem;
        }
      }
    }
  }
  @include responsive(tabletXL) {
    #catalogo-container {
      #header-catalogo {
        h2 {
          font-size: 5.2rem;
          line-height: 65px;
          max-width: 82.6rem;
          border: none;
        }
      }
    }
  }
  @include responsive(desktop) {
    #catalogo-container {
      #header-catalogo {
        h2 {
          max-width: 115rem;
          font-size: 7.2rem;
          line-height: 85px;
          padding-bottom: 1.8rem;
          border: unset;
          margin-bottom: 5.6rem;
        }
      }

      .books-card {
        align-items: center;
        gap: 4.6rem;

        &:not(:last-child) {
          margin-bottom: 9.6rem;
        }
        .small-circle {
          bottom: -7.3rem;
          opacity: unset;
        }

        .cover-book {
          flex-shrink: 0;
          .box-shadow {
            img {
              max-width: 50rem;
            }
          }
        }

        .books-info {
          h3 {
            font-size: 4.7rem;
            line-height: 48px;
            letter-spacing: -2.5%;
            max-width: 100%;
            width: 100%;
            br {
              display: none;
            }
          }
          h4 {
            br {
              display: none;
            }
          }
        }
      }
    }
  }
}
