#client-testimonials {
  margin-top: 3.6rem;
  margin-bottom: 2rem;
  #client-testimonials-container {
    h2 {
      text-align: center;
      font-size: 3.2rem;
      margin-bottom: 3.6rem;
    }
    .about-Product {
      max-width: 128rem;

      .swiper-wrapper {
        margin-bottom: 5.6rem;
        .swiper-slide {
          background-color: rgb(241, 241, 241);;
          border-radius: 1.6rem;
          padding: 1.6rem;
          height: unset;

          // background-color: #f0f0f0; /* Cor de fundo */
          border: 1px solid #ccc; /* Borda para contraste */

          /* A sombra interna: leve deslocamento, um pouco de desfoque, cor escura com pouca opacidade */
          box-shadow: inset 0 1px 5px rgba(0, 0, 0, 0.5);
          .testimonial-content {
            .testimonial-profile {
              width: fit-content;
              margin: 1.6rem auto;
              img {
                margin: $magin-defaut;
                width: 7.5rem;
                height: 7.5rem;
                background-color: red;
                border-radius: 50%;
              }
            }
            span {
              display: block;
            }
            .name {
              text-align: center;
              font-size: 1.6rem;
              margin-bottom: 1.2rem;
              font-weight: 600;
            }
            .testimonial {
              font-size: 1.4rem;
              text-align: center;
              font-style: italic;
            }
          }
        }
      }

      .swiper-pagination {
        .swiper-pagination-bullet {
          transition: all 0.4s ease;
        }
        .swiper-pagination-bullet-active {
          background-color: map-get($map: $colors, $key: light-orange);
          width: 2rem;
          border-radius: 0.75rem;
        }
      }
    }
  }

  @include responsive(custom-720) {
    #client-testimonials-container {
      h2 {
        font-size: 3.8rem;
      }
    }
  }
  @include responsive(desktopSmall) {
    #client-testimonials-container {
      h2 {
        font-size: 5.2rem;
      }
    }
  }
}
