@mixin flex-container($direct: row, $justify: center, $align: center, $gap: 0) {
  display: flex;
  flex-direction: $direct;
  justify-content: $justify;
  align-items: $align;
  gap: $gap;
}

$breakpoints: (
  desktopFULLHD: 1540px,
  desktopHD: 1360px,
  desktop: 1248px,
  desktopSmall: 1080px,
  tabletXL: 920px,
  tablet: 768px,
  phoneXL: 576px,

  custom-1280: 1280px,
  custom-1450: 1450px,
  custom-1152: 1152px,
  custom-1038: 1038px,
  custom-872: 872px,
  custom-720: 720px,
  custom-678: 678px,
  custom-670: 670px,
  custom-412: 412px,
);

@mixin responsive($breakpoint) {
  @if not map-has-key($map: $breakpoints, $key: $breakpoint) {
    @warn "Esse breakpoint não existe";
  } @else {
    @media (min-width: map-get($breakpoints, $breakpoint)) {
      @content;
    }
  }
}
