html {
  font-size: 62.5%;
}

/* Trava o scroll quando o menu estiver aberto. */
body.no-scroll {
  overflow: hidden;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: 0;
  vertical-align: baseline;
}

a {
  text-decoration: none;
  display: inline-block;
}

ul {
  list-style: none;
}

img {
  display: block;
  width: 100%;
}
