@import 'rst';
@import 'variables';
@import 'mixins';
@import 'patterns';

@import '00-menu-hamburg';
@import '01-header';
@import '02-s-hero';
@import '03-for-whom';
@import '04-benefits';
@import '05-catalog';
@import '06-releases';
@import '07-doctors-testimonials';
@import '08-products';
@import '09-clients-testimonials';
@import '10-promise';
@import '11-mensage';
@import '12-footer';